framework: >= net45
source https://nuget.org/api/v2

# The setting below means your libraries will assume a minimum target of .NET 4.5 + F# 4.0.
#
# To increase the minimum assumed .NET Framework, change the TargetFrameworkVersion in the .fsproj project files.
#
# To increase the minimum assumed F# version to F# 4.1, change to 
#     nuget FSharp.Core ~> 4.1.0 redirects: force

nuget FSharp.Core ~> 4.1.0 redirects: force
nuget Argu

nuget FsCheck.Xunit
nuget SharpZipLib
nuget Unquote
nuget xunit
nuget xunit.runner.console
nuget xunit.runner.visualstudio

clitool dotnet-fake

group Build
  source https://nuget.org/api/v2
  source https://ci.appveyor.com/nuget/fsharp-formatting

  nuget Fake.Core.Target
  nuget Fake.IO.FileSystem
  nuget Fake.BuildServer.AppVeyor
  nuget Fake.DotNet.Cli
  nuget Fake.Tools.Git
  nuget Fake.DotNet.MSBuild
  nuget Fake.Core.ReleaseNotes 
  nuget Fake.DotNet.AssemblyInfoFile
  nuget Fake.DotNet.Paket
  nuget Fake.DotNet.Testing.XUnit2 
  nuget Fake.DotNet.FSFormatting 
  nuget Fake.Api.GitHub
  nuget FSharp.Formatting prerelease
  nuget FSharp.Formatting.CommandTool prerelease

  